{{> header 
    title="Die Seite existiert leider nicht!"
    description="Die Seite existiert leider nicht! Der von Ihnen angeforderte Inhalt wurde verschoben oder gelöscht."
    keywords="404"
    noIndex=true }}

    <!-- 
        DER CONTENTBEREICH 
    -->    
    <main>

        <section class="page-section">
            <div class="row column text-center">
                <h1 class="tagline bb">404</h1>
            </div>
            <div class="row column">
                <div class=" h1-divider"></div>
            </div>
        </section>

        
        <section class="page-section">
            <div class="row column">
                <h3 id="angaben-gem-5-tmg-">Die Seite existiert leider nicht!</h3>
                <p>Der von Ihnen angeforderte Inhalt wurde verschoben oder gelöscht.
                    <br>
                    <br>
                    Das tut mir leid, da hat wahrscheinlich jemand nicht aufgeräumt. Gehen Sie doch noch mal auf die <a href="/index.html" alt="Startseite" title="Startseite">Startseite</a> oder schauen Sie sich ein bisschen meine <a href="/wohnskulpturen.html" alt="Wohnskulpturen" title="Wohnskulpturen">Wohnskulpturen</a> an.
                </p>
            </div>                        
        </section>
    </main>

{{> footer }}
