{{> header 
    title="Ihre Nachricht wurde erfolgreich versendet."
    description="Ihre Nachricht wurde erfolgreich versendet."
    keywords="nachricht gesendet"
    noIndex=true }}

    <!-- 
        DER CONTENTBEREICH 
    -->    
    <main>
        <section class="page-section">
            <div class="row column text-center">
                <h1 class="tagline bb">Ihre Nachricht wurde erfolgreich versendet.</h1>
            </div>         
        </section>
    </main>

{{> footer }}
